<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/music-cover.jpg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Welcome to Music List App</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Now you can track your favorite songs and singers in single place. Easily add  and update your custom songs list.</p>
      </ion-card-content>
    </ion-card>
 </ion-content>